
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  padding: 2rem;
  background-color: #072242;
}

h2 {
  padding: 2rem;
  font-size: 4rem;
  color: #051223;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.example {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  color: #c1c8d2;
}

.fear {
  border: none;
  height: 2rem;
  width: 20rem;
  border-radius: .14rem;
  padding: .3rem;
  color: #081524;
  font-size: 1.22rem;
}

.btn {
  border: none;
  height: 2.45rem;
  width: 8rem;
  border-radius: .14rem;
  padding: .3rem;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #091526;
  color: #c1c8d2;
  transition: background-color 400ms ease-in-out;
}

.btn:hover {
  background: rgba(9, 138, 193, 0.263);
}

.result {
  padding: 1.5rem;
  margin-top: 1.2rem;
  width: 60%;
  margin: auto;
}

.result h5 {
  font-size: 1.1rem;
  color: #c9c9c9;
  margin-bottom: 1.3rem;
}

.result p,
.desc {
  line-height: 1.644rem;
}

.btn-result {
  margin-top: 1.3rem;
}

.result a:visited, a:link {
  color: #ccc;
}

/* styling the footer */
footer {
  position: fixed;
  bottom: 1%;
  left: 40%;
}

footer a:link, a:visited {
  color: #06619a;
}